/* LARGE MOBILE */
@media screen and (min-width: 576px) {
  .social-networks button {
    flex: 1;
  }
}


.presentation img {
  float: left;
  margin: 0 15px 10px 0;
}

/* TABLET */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: space-between;
  }

  main {
    padding: 40px;
}

.recipe-origin {
  display: inline;
}

.recipe-name {
  font-size: 2rem;
}

}


/* DESKTOP */
@media screen and (min-width: 992px) {
  
}